.Service__service {
  margin: 20px 20px;
}


@media screen and (min-width: 769px) {
  .Service__service {
    margin: 10px 40px;
  }
}

.Service__title {
  font-family: "Righteous", cursive;
  color: #433DF2;
}

.Service__image {
  height: 80px;
}

.Service__info {
  display: flex;
  justify-content: center;
  align-items: center;
}
